<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "~{header :: html_header}">

<body>

<section class="breadcrum">

    </section>
        <div class="section-ptb customer-page register-page">
            <div class="container">
                <div class="row log-acc-page register-acc-page pt-5 justify-content-center">
                    <div class="col-lg-4 col-sm-12">
                        <div class="acc-page">
                            <div class="login">
                                <div th:if="${param.error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    Incorrect email or password.
                                </div>
                                <form th:action="@{/authen}" method="post">
                                    <div class="login-form-container">
                                        <div class="title-text ">
                                            <h2>Đăng nhập</h2>
                                            <p>Vui lòng điền thông tin vào bên dưới!!!</p>
                                        </div>

                                        <div class="form-group fill-form log-email">
                                            <label for="exampleInputPassword1">Email</label>
                                            <input type="email" class="form-control" 
                                                placeholder="Email" name="email"/>
                                        </div>
                                        <div class="form-group fill-form log-lastName">
                                            <label for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control"
                                                placeholder="Password" name="password"/>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-warning form-control">Đăng
                                            nhập</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer th:replace = "~{footer :: html_footer}"> </footer>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <th:block th:insert="~{header :: script}"></th:block>
</html>